
#id1{
    background-color: lightgreen;
}
div{
    background-color: lightsalmon;
}

* {

    background-color:lightcyan;
}

#id2{
    background-color: royalblue;
}

#id1{
    background-color: lightskyblue;
}